body{
  font-family:Tahoma,Arial,Sans-Serif;
  background-image:url("https://s3.amazonaws.com/primeacademy/BackgroundImages/blue.jpg");
  background-position: center top;
  background-size: cover;
  margin: 0;
}

h1{
  font-family:Tahoma,Arial,Sans-Serif;
  font-size: 7rem;
  text-align: center;
}

p1{
  text-align:center;
  background-color: red;
  padding: 20px;
}

p2{
  text-align: center;
  background-color: yellow;
  padding: 20px;
}

p3{
  text-align:center;
  background-color: orange;
  padding: 20px;
}

p4{
  text-align:center;
  background-color: green;
  padding: 20px;
}
