body{
  font-family:Tahoma,Geneva,Sans-Serif;
  background-image:url('https://googledrive.com/host/PrimeAcademy/GitHub/KBarrettTomlinson/Images/BackgroundImages/Blue.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

h1{
  font-family:Tahoma,Geneva,Sans-Serif;
}


p{
  color: red;
  }
  
li{
  font-family:Tahoma,Geneva,Sans-Serif;
}
