body{
  background-attachment:fixed;
  background-image:url("https://s3.amazonaws.com/primeacademy/BackgroundImages/BackgroundBlueWide.jpg");
  background-position:center bottom;
  background-repeat:no-repeat;
  background-size:cover;
  font-family:Tahoma,Arial,Sans-Serif;
  margin:0;
  padding-top:70px;
  padding-bottom:70px;
}

.current{
  color:#ffffff;
}

h1{
  font-family:Verdana,Arial,Sans-Serif;
  font-size:36px;
  font-weight:bold;
  text-align:center;
}

#footer.navbar{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarRed3.jpg");
  background-position:center bottom;
  background-size:cover;
  margin:0;
}

#header.navbar{
  margin:0;
}

/*JUMBOTRON SECTION*/

#About.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/primeacademy/JumbotronImages/AboutJumboImage.jpg');
  background-size: cover;
  color: #606060;
  height: 500px;
  margin:10px;
}

#Education.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/primeacademy/JumbotronImages/EducationJumboImage.jpg');
  background-size: cover;
  color: #606060;
  height: 500px;
  margin:10px;
}

#EmploymentBarista.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/primeacademy/JumbotronImages/EmploymentBaristaJumboImage.jpg');
  background-size: cover;
  color: #606060;
  height: 500px;
  margin:10px;
}

#EmploymentHistory.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/primeacademy/JumbotronImages/EmploymentHistoryJumboImage.jpg');
  background-size: cover;
  color: #606060;
  height: 500px;
  margin:10px;
}

#EmploymentPeaceCoffee1.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/primeacademy/JumbotronImages/EmploymentPeaceCoffee1JumboImage.jpg');
  background-size: cover;
  color: #606060;
  height: 500px;
  margin:10px;
}

#EmploymentPeaceCoffee2.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/primeacademy/JumbotronImages/EmploymentPeaceCoffee2JumboImage.jpg');
  background-size: cover;
  color: #606060;
  height: 500px;
  margin:10px;
}

#EmploymentPeaceCoffee3.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/primeacademy/JumbotronImages/EmploymentPeaceCoffee3JumboImage.jpg');
  background-size: cover;
  color: #606060;
  height: 500px;
  margin:10px;
}

#JHome.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/primeacademy/JumbotronImages/HomeJumboImage.jpg');
  background-size: cover;
  color: #606060;
  height: 500px;
  margin:10px;
}

/*END JUMBOTRON SECTION*/
/*
p1{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarBlue.jpg");
  background-position:center;
  background-size:cover;
  color:#606060;
  cursor:pointer;
  font-size:24px;
  height:50px;
  padding:5px;
  text-align:center;
}

p1:hover{
  color:#ffffff;
}

p2{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarYellow.jpg");
  background-position:center;
  background-size:cover;
  color:#606060;
  cursor:pointer;
  font-size:24px;
  height:50px;
  padding:5px;
  text-align:center;
}

p2:hover{
  color:#ffffff;
}

p3{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarOrange.jpg");
  background-position:center;
  background-size:cover;
  color:#606060;
  cursor:pointer;
  font-size:24px;
  height:50px;
  padding:5px;
  text-align:center;
}

p3:hover{
  color:#ffffff;
}

p4{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarGreen.jpg");
  background-position:center;
  background-size:cover;
  color:#606060;
  cursor:pointer;
  font-size:24px;
  height:50px;
  padding:5px;
  text-align:center;
}

p4:hover{
  color:#ffffff;
}
*/
p6{
  color:#606060;
  font-family:Verdana,arial,sans-serif;
  font-size:18px;
  height:50px;
  padding:5px;
  text-align:center;
}


p{
  background-position:center;
  background-size:cover;
  color:#606060;
  cursor:pointer;
  font-size:24px;
  height:50px;
  padding:5px;
  text-align:center;  
}

p:hover{
  color:#ffffff;
}

#HHome.tab{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarYellow.jpg");
}

#About.tab{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarGreen.jpg");
}

#Education.tab{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarOrange.jpg");
}

#Resume.tab{
  background-image:url("https://s3.amazonaws.com/primeacademy/NavBarImages/NavBarBlue.jpg");
}

.spacer{
  margin-bottom:40px;
}
